.nav-menu{
    background-color: #24252F;
     width: 280px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -210px;
    transition: 600ms;
}

.nav-menu.active{
    left: 0;
    transition: 400ms;
}

 .nav-text{
    display:flex;
     justify-content: start;
    align-items: flex-end;
    padding: 8px 0px 8px 16px;
  list-style: none;
    height: 60px;
} 

.nav-text a {
     text-decoration: none;
     color: #969696;
    width: 97%;
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
   padding: 0 16px;
     border-radius: 4px;
    transition: all .3s ease-in-out; 
    direction: rtl;
    
}   

.nav-text a:hover{
    background: #E9B10E;
    color: #24252F;
    font-weight: bold;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: #24252F;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: right;
}

span{
    margin-right: 24px;
}

.nav-text-bot {
    vertical-align: bottom;
     justify-content: start;
    align-items: flex-end;
    padding: 8px 0px 8px 16px;
  list-style: none;
    height: 60px;
} 

.nav-text-bot a {
     text-decoration: none;
     color: #969696;
    width: 97%;
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
   padding: 0 16px;
     border-radius: 4px;
    transition: all .3s ease-in-out; 
    direction: rtl;
    
}   

.nav-text-bot a:hover{
    background: #E9B10E;
    color: #24252F;
    font-weight: bold;
}
