.inputs-group{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

  
  }


.windowInput{
    height: 50px;
    width: 100%;
    padding: 12px;
    transition: 50%;
    filter: brightness(70%);
    border-radius: 8px;
    transition: 300ms;
    outline: none;
}

a:link {
    filter: brightness(100%);
}
.windowInput:visited {
    filter: brightness(100%);
}
.windowInput:active {
    filter: brightness(100%);
}
.windowInput:hover {
    filter: brightness(100%);
}

.windowInput:focus{
    filter: brightness(100%);

}


#registerButton{
    margin: 3vh auto;
    width: 40%;
    max-height: 6vh;
    direction: ltr;
    text-align: center;
    color: #2F2F30;
    border-radius: 4px;
    background-color: #8F8F90;
    border: none;
    padding: 1vh 0;
    transition: all .3s ease-in-out ;
    font-size: 22px;
    font-weight: bold;
    border-style: hidden;
    outline: none;
}

#loginButton{
    margin: 3vh auto;
    width: 40%;
    max-height: 6vh;
    direction: ltr;
    text-align: center;
    color: #2F2F30;
    border-radius: 4px;
    background-color: #8F8F90;
    border: none;
    padding: 1vh 0;
    transition: all .3s ease-in-out ;
    font-size: 22px;
    font-weight: bold;
    border-style: hidden;
    outline: none;
    
}


#registerButton:hover{
    background: #E9B10E;
    color: #24252F;
}

#loginButton:hover{
    background: #E9B10E;
    color: #24252F;
}


#title{
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 0px;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
}

