.userTools{
    margin-top: 55vh;
}

.userTools-text{
    justify-content: start;
   align-items: flex-end;
   padding: 8px 0px 8px 16px;
 list-style: none;
   height: 60px;
}

.userTools-text a {
     text-decoration: none;
     color: #969696;
    width: 97%;
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
   padding: 0 16px;
     border-radius: 4px;
    transition: all .3s ease-in-out; 
    direction: rtl;
    
}   

.userTools-text a:hover{
    background: #E9B10E;
    color: #24252F;
    font-weight: bold;
}

span{
    margin-right: 24px;
}

