.centre:after{
  content: " ";
  width: 5px;
  height: 175px;
  background: white;
  display: block;
}
.centre{
  position: absolute;
  top: 0;
  left: calc(50% + 67.5px);
  z-index: 1;

}
.spinButton{
  cursor: pointer;
  padding: 20px;
  border: 1px solid black;
  background: rgb(238, 238, 238);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.spinButton:focus{
  outline: none !important;
}
.spinButton:hover{
  background: #ccc;
}
.mid_container{
  display: table;
  width: 100vw;
  height: 500px;
  margin-top: 20px;
 background-color: #000000; 
}