.container{
    width: calc(20% - 20px);
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    background-color: #3F4044;
    height: 100%;
    float: left;
    color: white;
    text-align: center;
    margin-left: 80px;
    height: fit-content;
}
.last_win{
    margin-bottom: 50px;
}

.container:hover{
    background-color: #47484d ;
}